<footer class="footer">
  <div class="footer__nav">
    <div class="warp footer__warp">
      <div class="footer__col-2">
        <h4 class="footer__nav-title">Наши контакты</h4>
        <p>Тел.: 8 800 200 96 97</p>
        <p>Почта: aptechki@bk.ru</p>
        <p>
          Адрес: М. Люблино,<br />
          ул. Верхние поля 45 к.4 Москва
        </p>
      </div>
      <div class="footer__col-2">
        <h4 class="footer__nav-title">Карта сайта</h4>
        <p><a href="/home">Главная</a></p>
        <p><a href="/products">Аптечки</a></p>
        <p><a href="/clients">Наши клиенты</a></p>
        <p><a href="/contacts">Контакты</a></p>
      </div>
      <div class="footer__col-4">
        <h4 class="footer__nav-title">Способы оплаты</h4>
        <p>
          Безналичный расчёт:<br />
          ОГРН 1047796721642 ИНН/КПП 7723521600 / 772301001
        </p>
        <p>
          Наличный расчёт:<br />
          г. Москва, М. Люблино, ул. Верхние поля 45 к.4
        </p>
      </div>
      <div class="footer__col-2">
        <div class="logo footer__logo"></div>
      </div>
    </div>
  </div>
  <div class="footer__right">
    <div class="warp footer__warp">Все права защищены © 2015 - 2022 гг. Веб сайт не является публичной офертой</div>
  </div>
</footer>