
.cart-item__header {
  display: flex;
  gap: 25px;
}

.cart-item__about {
  flex: 1; 
}

.cart-item__image-mobile {
  flex: 0 0 100px;
  display: none;
}
.cart-item__image-mobile img {
  width: 100px;
}
/* cart-item */

.cart-item {
  display: flex;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 13px 33px #00000029;
  border-left: 3px solid #dd2958;
  border-right: 3px solid #0ad4d0;
  padding: 17px;
  position: relative;
  gap: 10px;
}
.cart-item__content {
  flex: 1;
  padding-left: 30px;
}
.cart-item__image {
  flex: 0 0 255px;
}
.cart-item__image img {
  display: block;
  width: 100%;
}
.cart-item__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 17px;
  font-size: 16px; 
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.cart-item__close:hover {
  color: #dd2958;
}

.cart-item__name {
  font: normal normal bold 16px/27px Montserrat;
  color: #dd2958;
  margin-bottom: 16px;
} 
.cart-item__description {
  font: normal normal normal 13px/22px Montserrat;
  color: #333;
  margin-bottom: 30px;
}
.cart-item__counter {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 10px;
}
.cart-item__price {
  font: normal normal normal 41px/22px Montserrat;
  color: #dd2958;
}
.cart-item__total {
  font: normal normal normal 13px/22px Montserrat;
  color: #C6C6C6;
}

.cart-item .cart-item__button {
  display: flex;
  width: 348px;
  gap: 8px; 
  margin-bottom: 30px;
  padding: 10px;
  text-align: left; 
  background: transparent linear-gradient(97deg, #930071 0%, #BA0000 100%) 0% 0% no-repeat padding-box;
}

.cart-item__icon {
  flex: 0 0 40px;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-item__text {
  flex: 1;
  font-size: 14px;
}

.cart-item__text-mobile {
  display: none;
}
/* cart-item */
@media (max-width: 1690px) {
  .cart-item__image {
    display: none;
  }
  .cart-item__image-mobile {
    display: block;
  }
}

@media (max-width: 839px) {
  .cart-item__text {
    display: none;
  }
  .cart-item__text-mobile {
    display: block;
  }
  .cart-item .cart-item__button {
    width: 170px;
  }
  .cart-item {
    margin: 0 20px;
  } 
  .cart-item__content {
    padding-left: 0;
  }
  .cart-item__close {
    display: none;
  }
  .cart-item__counter {
    gap: 10px;
  }
  .cart-item__close-mobile {
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cart-item__price {
    flex: 1;
  }
  .cart-item__name {
    font-size: 12px;
    line-height: 16px;
  }
  .cart-item__price { 
    font-size: 22px;
    line-height: 12px;
  }
  .cart-item__total { 
    font-size: 10px;
    line-height: 16px;
  }
  .cart-item__description { 
    font-size: 10px;
    line-height: 16px;
  }

}


@media (max-width: 400px) {

  .cart-item__image-mobile {
    display: none;
  }
 }



.product__form-files {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.product__form-file {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 10px;
  background: #d1ebff;
  border-radius: 6px;
  text-shadow: 2px 4px 16px rgba(0, 0, 0, 0.2);
}
.product__form-file i {
  font-size: 28px;
  color: #0a4263;
}
.product__form-file a {
  font-size: 15px;
  color: #0a4263;
  text-decoration: none;
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.product__form-file a small {
  color: #0a426388;
}
.product__form-file .product__form-times {
  font-size: 15px;
  text-decoration: none;
  color: #889;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.product__form-file .product__form-times:hover {  
  color: rgb(117, 31, 31); 
}