<div class="contact">
  <div class="contact__content">
    <div class="warp contact__warp">
      <h1>Контакты</h1>
      <p>
        г. Москва, М. Люблино, ул. Верхние поля 45 к.4 <br />
        Телефон: <a href="tel://88002009697">8(800)200-96-97</a><br />
        Почта: <a href="mailto://aptechki@bk.ru">aptechki@bk.ru</a>
      </p>
    </div>
  </div>
</div>

<div class="contact__map" id="map-container">
  <div class="contact__float">
    <h1>Контакты</h1>
    <p>
      г. Москва, М. Люблино, ул. Верхние поля 45 к.4 <br />
      Телефон: <a href="tel://88002009697">8(800)200-96-97</a><br />
      Почта: <a href="mailto://aptechki@bk.ru">aptechki@bk.ru</a>
    </p>
  </div>
 
</div>
