<!-- start aid-box -->
<label class="aid-box" [for]="'box_' + case.id" >
  <div class="aid-box__image">
    <img [src]="img" />
  </div>
  <div class="aid-box__stereo-box">
    <div class="aid-box__chackbox">
      <input
        type="radio"
        name="case"
        [id]="'box_' + case.id"
        [value]="case.id"
        [(ngModel)]="caseId"
        (change)="saveCase.emit(caseId)"
      />
    </div>
    <div class="aid-box__text">{{ case.title }}<br/><small>{{case.subtitle}}</small></div>
    <div class="aid-box__price">+ {{ case.price | numberFor3: 2 }} ₽</div>
  </div>
</label>
<!-- end aid-box -->
